language: node_js
node_js:
- '10'
- '8'
install:
- npm install
script:
- npm run test
- npm run lint
after_success:
- npm install -g codecov
- codecov
deploy:
  provider: npm
  email: kei.itof@gmail.com
  api_key:
    secure: sXIIE+DZ8YecxQwGgsjcAo/KP4FtNysd0VAGkfJh9dgq0kI4oV1gkCHQRZw+X2FoN+SlxCx+dNwTlb9kpEKzK0k6Ni88CYkFU8cuUwu5TsguielaPCTOMyLzbKt8XOsWNVKJGuXO5SnjGnn66LVq25jw0oxpfXuM/ANr6X2AVVAZAU6wqTFCfjUze1KJk8tqw3wdgY3wtLCCrFLBAz41sXRBLAaVeJd2TfeqcILOKTHNBBVmUeJ8vyfyS+BIwLFTaVcAXB5yMxvxW5U/5Ht9lsdzyEnqSIveVrJ03VlmRLaHO3vkZ4VweeU1sn6xzySqOVzTljnPjiE7QNUksxU8B2KCbwjN7337aha1XBDfLUIht2HRfyFJWu5Yj1lXc8BOD6a75qp5lGHXXaPZADFUiM08Y42mz2JtjnGz5ned3ury4Cp29WaeiMDQncTlxl1Hz5m7bvO8TLiss99CcuBleEJsdTDzWGixSIjSqjyt3UeKgR9nBa6RETqI2IotGa5xHog/4ertqiA+NbsE55zL20IQEZSSxROsiEtkzMuQsDJ0PIeCnRkmEIsp2+fM30VtULglIf1RugAZ9wbGmimVrW8+RmML83cUAjoe1hJy21d5lWbd02dZckbljrHPS3AdrTeLioLX3cEBWAwCNSlGWSlEHRsTu+pa4P+tsA3F7/E=
  on:
    tags: true
    repo: nlibjs/ast
